.video{
  float: left;
  border-style : double;
  border-width: 5px;
  margin: 25px 300px 75px 10px;
  width: 750px;
  height: 50%;
  position: absolute;
  top: 8px;
  left : 16px;
}

#info{
  float:right;
  width:180px;
  height:160px;
  background-color:white;
  border:solid black;
}
